html{
  font-family: Verdana, 'Times New Roman', Times, serif;
  
}
body{
  background-color: rgb(150, 185, 83);
  background-image: url(../img/bg/bg_Kiev.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; 
}
#navbarNavAltMarkup{
  font-size: 1.5em;
}
.menu{
  font-size: 1.5em;
  color:#15591D;
}
.col-2 > ul{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 8px;
  list-style-type: none;
}
li > a{
  text-decoration: none;
}
li > a:hover{
  font-style: italic;
}
footer{
  background-color: grey;
  opacity: 0.8;
  border-radius: 50%;
}
p.h4 a{
  margin-right: 20px;
}
