@charset "UTF-8";
body {
  /*подключаем шрифт*/
  font-family: PlayfairDisplay;
  font-size: 1.2rem; }

@font-face {
  body {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Regular.ttf"); } }

@font-face {
  body {
    font-family: "PlayfairDisplay";
    font-style: italic;
    src: url("../fonts/PlayfairDisplay-Italic.ttf"); } }

@font-face {
  body {
    font-family: "PlayfairDisplay";
    font-weight: bold;
    src: url("../fonts/PlayfairDisplay-Bold.ttf"); } }

header h1 {
  font-size: 3rem; }

main figure img {
  width: 100%; }
  main figure img:hover {
    cursor: pointer; }

main .inventory-message {
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: bold; }

main .rating {
  display: inline-block;
  font-size: 1.5rem; }

main .rating-active {
  font-weight: bold;
  color: gold; }
