body {
  background-color: rgb(150, 185, 83);
  background-image: url(../img/background_1280x880.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form{
  opacity:0.8;
}
label{
  font-size: 1.2em;
  font-weight: bold;
}
input.invalid {
  background-color: red;
}

input.valid {
  background-color: green;
}
#example_adres, #example_phone, #example_firstName{
  width: 100%;
  border-radius: 5px;
}
