// $font-stack: Verdana, Helvetica, sans-serif;// переменные
// $colorG: grey;
// $colorLG: lightgray;
// $colorB: brown;

// %font-style {//шаблон стилей шрифта
//   font-family: Verdana, Helvetica, sans-serif;
//   font-size: 1.2rem;
// }
// %display-style {//шаблон стилей блока
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-gap: 10px;
// }

// body {
//   @extend %font-style;//подключаем шаблон
//   background-color: $colorLG;
//   color: $colorB;
//   .main {
//     margin: 0 0.5em;
//   }
// }
@import "mixin";
body {
  @include add-fonts ();
  font-family: PlayfairDisplay;
  font-size: 1.2rem;
}
@import "header";
main {
  figure img {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .inventory-message {
    padding: 0 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .rating {
    display: inline-block;
    font-size: 1.5rem;
  }
  .rating-active {
    font-weight: bold;
    color: gold;
  }
  // @extend %font-style;//подключаем шаблон
}


@import "footer";